# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\it_projects\auto_service_client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
